@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body  {
  background-color: black;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(11, 11, 11);
  position: relative;
}

.nav a {
  border:  rgb(204, 204, 203) solid 3px;
  background-color: rgb(11, 11, 11);
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: rgb(140, 140, 139);
}

.glasses {
  position: relative;
  left: 50px;
}

.title {
  text-align: center;
  background-color: rgb(148, 144, 144);
  border: black solid 5px;
  margin: 0px;
  color: rgb(44, 43, 43)
}

.wes {
  position: relative;
  top: -50px;
  left: 55px;
}

.scream {
  border: black solid 3px;
  background-color: rgb(148, 144, 144);
  padding: 15px;
  color: rgb(44, 43, 43);
  font-family: "Libre+Bodoni";
  text-align: center;
  }
