
 body  {
  background-color: #171815;
  overflow-x: hidden;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #171816;
  position: relative;
}

.nav a {
  border:  #3b3c37 solid 3px;
  background-color: #171816;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #8e9296;
}

.nav a:hover {
  border:  #3b3c37 solid 3px;
  background-color: #292a29;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #8e9296;
  transition: 600ms;
}

.nav::after {
  border:  #f1f2ec solid 3px;
  background-color: #c8c9c8;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #4d4f51;
}

.ee{
  animation: ats 32s;
  transform: translate(-100vw);
}

.ve{
  animation: ats 32s;
  animation-delay: 1000ms;
  transform: translate(-100vw);
}

.re{
  animation: ats 32s;
  animation-delay: 2000ms;
  transform: translate(-100vw);
}

.te{
  animation: ats 32s;
  animation-delay: 2000ms;
  transform: translate(-100vw);
}

@keyframes ats {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(500vw);
  }
}
.title {
  text-align: center;
  background-color: #8e9296;
  border: #3b3c37 solid 5px;
  margin: 0px;
  color: #3b3c37;
  font-family: "Libre+Bondoni";
  font-size: 80px;
  border-style: double dashed ;
}

.scream {
  font-size: 18px;
  border: #3b3c37 solid 3px;
  background-color: #8e9296;
  padding: 15px;
  color: #171816;
  font-family: "Libre+Bondoni";
  text-align: center;
}







video {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #f1f2ec;
  background-blend-mode: color-burn;
}
