
 body  {
  background-color: #171815;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #171816;
  position: relative;
}

.nav a {
  border:  #3b3c37 solid 3px;
  background-color: #171816;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #8e9296;
}

.glasses {
  position: relative;
  left: 50px;
}

.title {
  text-align: center;
  background-color: #8e9296;
  border: #3b3c37 solid 5px;
  margin: 0px;
  color: #3b3c37;
  font-family: "Libre+Bondoni";
}

.wes {
  position: relative;
  left: 55px;
  top: -55px;
}

.scream {
  border: #3b3c37 solid 3px;
  background-color: #8e9296;
  padding: 15px;
  color: #171816;
  font-family: "Libre+Bondoni";
  text-align: center;
  }

/* Libre Bodoni utility class
   Replace the word `UNIQUE` with your uniquifier (alphanumeric/hyphen).
   Example: `<h1 class="libre-bodoni-123abc">Title</h1>`
*/
.libre-bodoni-UNIQUE {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
