
 body  {
  background-color: #171815;
  overflow-x: hidden;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #171816;
  position: relative;
}

.nav a {
  border:  #3b3c37 solid 3px;
  background-color: #171816;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #8e9296;
}

img {
  
  display: flex;
  flex-direction: row;
}

.glasses {   
  animation: picpic 9s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@keyframes picpic {
    0%{
        transform: translateX(-150%);
    }
    100%{
      transform: translateX(180%);
    }
  }

@keyframes daveg {
  0%{
    transform: translateX(-150%);
  }
  100%{
    transform: translateX(200%);
  }
}

.dave {   
  animation: daveg 8s ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  width: fit-content;
  position: relative;
  top: -720px;
  animation-iteration-count: infinite;
}

.title {
  text-align: center;
  background-color: #8e9296;
  border: #3b3c37 solid 5px;
  margin: 0px;
  color: #3b3c37;
  font-family: "Libre+Bondoni";
  font-size: 80px;
  border-style: double dashed ;
}

.wes {
  position: relative;
  left: 425px;
  top: -55px;
}

.scream {
  border: #3b3c37 solid 3px;
  background-color: #8e9296;
  padding: 15px;
  color: #171816;
  font-family: "Libre+Bondoni";
  text-align: center;
}







video {
  display: block;
  width: 80%;
  margin: 0 auto;
}