
 body  {
  background-color: #171815;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #171816;
  position: relative;
}

.nav a {
  border:  #3b3c37 solid 3px;
  background-color: #171816;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #8e9296;
}

img {
  
  display: flex;
  flex-direction: row;
}

.glasses {   
  animation: picpic 8s ease-in-out;
  animation-fill-mode: forwards;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@keyframes picpic {
    0%{
        transform: translateX(-100%);
    }
    5%{
        transform: translateX(-90%);
    }
    10%{
        transform: translateX(-80%);
    }
    15%{
        transform: translateX(-70%);
    }
    20%{
        transform: translateX(-60%);
    }
    25%{
        transform: translateX(-50%);
    }
    30%{
        transform: translateX(-40%);
    }
    35%{
        transform: translateX(-30%);
    }
    40%{
        transform: translateX(-20%);
    }
    45%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0%);
    }
    55%{
        transform: translateX(10%);
    }
    60%{
        transform: translateX(20%);
    }
    65%{
        transform: translateX(30%);
    } 
    70%{
        transform: translateX(40%);
    }
    75%{
        transform: translateX(50%);
    }
    80%{
        transform: translateX(60%);
    }
    85%{
        transform: translateX(70%);
    }
    90%{
        transform: translateX(80%);
    }
    91%{
      transform: translateX(90%);
    }
    92%{
      transform: translateX(100%);
    }
    93%{
        transform: translateX(110%);
    } 
    94%{
      transform: translateX(120%);
    }
    95%{
      transform: translateX(130%);
    }
    96%{
      transform: translateX(140%);
    }
    97%{
      transform: translateX(150%);
    }
    98%{
      transform: translateX(160%);
    }
    99%{
      transform: translateX(170%);
    }
    100%{
      transform: translateX(180%);
    }
  }

  .dave {   
  animation: picpic 8s ease-in-out;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  width: fit-content;
  }

  .title {
  text-align: center;
  background-color: #8e9296;
  border: #3b3c37 solid 5px;
  margin: 0px;
  color: #3b3c37;
  font-family: "Libre+Bondoni";
  font-size: 80px;
}

.wes {
  position: relative;
  left: 425px;
  top: -55px;
}

.scream {
  border: #3b3c37 solid 3px;
  background-color: #8e9296;
  padding: 15px;
  color: #171816;
  font-family: "Libre+Bondoni";
  text-align: center;
}







video {
  display: block;
  width: 80%;
  margin: 0 auto;
}